body {
    min-width: 600px;
}

.container {
    width: 100%;
}

.leftOperation {
    width: 480px;
    height: 100%;
    float: left;
    margin-right: -420px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

.rightPaper {
    width: 100%;
    height: 1000px;
    float: left;
    margin-left: 520px;
    position: relative;
    top: -899px;
}

.stylePaper {
    width: 70%;
    height: 897px;
    scroll-behavior: auto;
}

.autojump {
    float: right;
    width: 150px;
    position: relative;
    top: -30px;
    left: -100px;
}

fieldset {
    width: auto;
    /* background-color: aqua; */
}

.testNumber {
    width: 160px;
    height: 25px;
}

.testTime {
    margin-left: 0px;
    margin-top: 10px;
    width: 400px;
    height: 25px;
}

.questionNumber {
    margin-top: 10px;
    margin-left: 20px;
    width: 150px;
    font-size: 20px;
}

.selectQuestion {
    width: 50px;
    height: 25px;
    font-size: large;
    /* background-color: aqua; */
}

.questionOperation {
    /* background-color: aqua; */
    width: 100px;
    position: relative;
    margin-left: 130px;
    margin-top: -36px;
}

.pre {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
}

.next {
    margin-left: 10px;
    margin-right: 10px;
}

[type="radio"] {
    margin-top: 20px;
    margin-left: 14px;
}

[type="radio"]:hover {
    background-color: aqua;
}

[for] {
    margin-left: -5px;
    margin-right: 8px;
}

[for]:hover {
    color: red;
    font: large bold;
    background-color: aqua;
}
